# local package
-e .

# external requirements
# click
# Sphinx
# coverage
# awscli
# flake8
# selenium

python-dotenv>=0.5.1
pipreqs
pandas
numpy
scikit-learn   dask[dataframe]
category_encoders
rapidfuzz
dask[dataframe]